@media screen and (min-width: 1000px) {
    * {
        font-family: "Kanit", sans-serif;
    }
    /* -------------------------------------- CONTENEDOR GRID -------------------------------------------- */
    html {
        scroll-behavior: smooth;
    }

    ul {
        list-style: none;
    }

    .body {
        display: grid;
        grid-template-areas: 'header'
                             'section'
                             'footer';
        grid-template-columns: auto;
    }

    .header {
        grid-area: header;
    }

    .aside {
        grid-area: aside;
    }

    .section {
        grid-area: section;
    }

    .footer {
        grid-area: footer;
    }

    /* ------------------------------------------- HEADER ------------------------------------------------- */

    .header { /* ----- BARRA SUP ---- */
        width: 100%; 
        position: fixed;
        z-index: 100;
        top: 0vw;
        box-shadow: 0px 0px 5px 0px black;
    }

    .nav-header { /* ----- NAVEGADOR ---- */
        background-color: white;
        text-align: center;
        padding: 0.5vw 0vw;
    }

    .nav-header li { /* ----- LISTA ---- */
        display: inline-block;
        margin-right: 2vw;
    }

    .nav-header li a { /* ----- LINKS ---- */
        text-decoration: none;
        color: black;
        font-size: 1.2vw;
        padding: 0.2vw 1vw;
    }

    .nav-header li a:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 10px;
    }


    /* ------------------------------------------- SECTION1 ------------------------------------------------- */

    .section1 {
        background-color: #0a5b93;  /* ----- SECCION GRAL 1 ---- */
        padding: 5vw 0vw 8vw 0vw;
        height: 42vw;
    }

    /* ------------------------------------------------------------------------------------------------------ */

    .div-section1 {
        width: 100%; 
    }

    /* ----------------- ARTICLE1 ------------------ */

    .section1-article1 {  /* ----- Article ---- */
        width: 90%;
        margin: auto;
        padding: 0.2vw 0vw;
    }

    .sec1-art1-div { /* ----- Caja Article ---- */
        height: 34vw;
        overflow: hidden;
        background-color: white;
        position: relative;
        text-align: center;
        border-radius: 10px;
        border: 5px solid black;
    }

    .sec1-art1-div h2 {
        padding: 1vw;
        font-size: 3vw;
    }

    .sec1-art1-div p {
        font-size: 1.5vw;
        text-align: left;
        margin-left: 2vw;
    }

    /* ------------------------------------------- FOOTER ------------------------------------------------- */

    .footer {
        width: 100%;
        box-shadow: 5px 0px 0px 0px black;
        position: absolute;
        z-index: 1;
    }

    .footer-ul { /* ----- NAVEGADOR ---- */
        background-color: white;
        text-align: center;
        padding: 1vw 0.5vw 0.5vw 0.5vw;
        height: 3.5vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw black;
    }

    .footer-ul li { /* ----- LISTA ---- */
        display: inline-block;
        margin-right: 3vw;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .footer-ul a { /* ----- LINKS ---- */
        text-decoration: none;
        color: black;
        font-size: 1.2vw;
        padding: 0.2vw 0.5vw;
    }

    .footer-ul li a:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 10px;
     }

}
